<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order list</title>
</head>
<body>

<table class="table">

    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Description</th>
        <th scope="col">Amount</th>
    </tr>
    </thead>

    <tbody>

        <tr th:each="order : ${orders}">

            <td th:text="${order.id}"/>
            <td th:text="${order.description}"/>
            <td th:text="${order.amount}"/>

        </tr>

    </tbody>

</table>

</body>
</html>